<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Chat</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	</head>
	<body>
		<section>
			<div v-for="message in messages">
				<p><strong>@[[ message.username ]]</strong></p>
				<p>[[ message.text]]</p>
				
			</div>
		</section>
		<section>
			<input v-model="newMessage" @keypress.enter="sendMessage" type="text" placeHolder="Type a message..."/>
			<button @click="sendMessage">Enviar</button>
		</section>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>

		<script>
			var socket = io.connect('{{ domain }}');
			var app = new Vue ({
				e1: "#app",
				delimiters: ['[[',']]'],
				data: {
					username: '{{ username }}',
					messages: [
					{% for message in chat %}
						{
							username: ' {{ message.username }}',
							text: '{{ message.text }}'

						}{% if not loop.last %},{% endif %}
					{% endfor %}
					],
					newMessage: ''
				}, 
				methods: {
					sendMessage: () => {
						socket.emit('new_message', {
							channel: app.channel,
							username: app.username,
							text: app.newMessage
						});
						app.$set(app, 'newMessage', '');
					}
				}
			});
			socket.on('connect', function() {
					console.log('Connect')
			});
			socket.on('new_message', function(msg) {
					let my_messages = app.messages;
					my_messages.push({
							username: msg.username,
							text: msg.text
					})
					app.$set(app,'messages', my_messages);
			});

		</script>
	</body>
